.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  &_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(0,0,0,.8);
    z-index: 1000;
    animation: start__wrapper .3s 1 ease;
  }
}

.modal_content {
  background-color: black;
  padding: 10px;
  min-height: 10vh;
  min-width: 10vw;
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  animation: start__modal .3s 1 ease;
}

@keyframes start__wrapper {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes start__modal {
  0% {
    opacity: 0;
    transform: translate(-50%, -80%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}