.layout {
  height: 100%;
  animation: anim .5s 1 ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  background-color: rgba(0,0,0,.2);
  height: 100%;
}

@keyframes anim {
  0%{
    background-position: top center;
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}