#root {
  background-color: #242424;
  height: 100vh;
}

html {
  --bgColorMenu : #1d1d27;
  --gold: #ffbd00;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100%;
}

.main{
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}
