#root {
  background-color: #242424;
  height: 100vh;
}

html {
  --bgColorMenu : #1d1d27;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100%;
}

.main{
  position: relative;
  flex: 1 1 auto;
  padding: 50px 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("assets/bg-img.jpg") center/cover;
}
