@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#root {
  background-color: #242424;
  height: 100vh;
}

html {
  --bgColorMenu : #1d1d27;
  --gold: #ffbd00;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100%;
}

.main{
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

//custom Swiper
.swiper-scrollbar-drag {
  background: #007dfe;
}
